Source: python-connectionmanagement
Maintainer: Simon Rankine <simon.rankine@bbc.co.uk>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.7.5-5), debhelper (>= 7), apache2-dev, dh-systemd
Standards-Version: 3.9.7

Package: python-connectionmanagement
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-netifaces
Recommends: python-nmoscommon
Description: Connection Management API implementation
 Implements AMWA NMOS IS-05
