[Unit]
Description=nmosconnectionmanagement
Wants=network-online.target
After=network.target network-online-target

[Service]
User=ipstudio
Restart=always
RestartSec=3
ExecStart=/usr/bin/python2 /usr/bin/connectionmanagement

[Install]
WantedBy=multi-user.target
Alias=nmos-connection.service
Alias=ips-connectionmanagement.service
